<button class="btn btn-dark largo" data-bs-toggle="modal" data-bs-target="#crearPuesto">Agregar un nuevo puesto</button>


<div class="container" *ngFor="let item of listaPuesto">
    <div class="row">
      <div class="col col1">
          <img src="{{item.imagen}}" alt="">
      </div>
      <div class="col col2">
        <div class="row"><h3><b>Numero de indentificador:{{item.id}}</b></h3></div>
        <div class="row"><label>Texto: {{item.nombre}}</label></div>
        <div class="row"><label>Descripcion:{{item.descripicion}}</label></div>
        <div class="row btn2">
        <div class="col"><button class="btn btn-primary btn1" data-bs-toggle="modal" data-bs-target="#editarPuesto"
        (click)="obtenerInformacionItem(item)">Editar Puesto</button></div>
        <div class="col"><button class="btn btn-danger btn2" data-bs-toggle="modal" data-bs-target="#eliminarPuesto"
        (click)="obtenerInformacionItem(item)">Eliminar Puesto</button></div>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="crearPuesto" tabindex="-1" aria-labelledby="crearPuestoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="crearPuestoLabel">Agregar Puesto</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="tamano3">
          <label>Imagen Del Puesto:</label>
          <input type="text" class="form-control" name="nombre" id="imagePuesto" required=""
                 #imagen="ngModel" [(ngModel)]="puesto.imagen">
        </div>

        <div class="tamano3">
          <label>Nombre Del Puesto:</label>
          <input type="text" class="form-control" name="nombre" id="nombrePuesto" required=""
                 #nombre="ngModel" [(ngModel)]="puesto.nombre">
        </div>

        <div class="tamano3">
          <label>Descripcion:</label>
          <input type="text" class="form-control" name="nombre" id="descripcionPuesto" required=""
                 #descripcion="ngModel" [(ngModel)]="puesto.descripicion">
        </div>


      </div>
      <div class="modal-footer">
        <button data-bs-dismiss="modal" type="submit" class="btn btn-primary" name="7" (click)="crearPuesto(puesto)">Aceptar</button>

        <button data-bs-dismiss="modal" class="btn btn-danger" name="8">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editarPuesto" tabindex="-1" aria-labelledby="editarPuestoLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title" id="editarPuestoLabel">Editar Tratamiento</h2>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">

      <div class="tamano3">
        <label>Imagen Del Puesto:</label>
        <input type="text" class="form-control" name="nombre" id="imagePuesto1" required=""
               #imagen="ngModel" [(ngModel)]="puestoActual.imagen">
      </div>

      <div class="tamano3">
        <label>Nombre Del Puesto:</label>
        <input type="text" class="form-control" name="nombre" id="nombrePuesto1" required=""
               #nombre="ngModel" [(ngModel)]="puestoActual.nombre">
      </div>

      <div class="tamano3">
        <label>Descripcion:</label>
        <input type="text" class="form-control" name="nombre" id="descripcionPuesto1" required=""
               #descripcion="ngModel" [(ngModel)]="puestoActual.descripicion">
      </div>

    </div>
    <div class="modal-footer">
      <button data-bs-dismiss="modal" type="submit" class="btn btn-primary" name="7" (click)="editarPuesto(puestoActual)">Aceptar</button>

      <button data-bs-dismiss="modal" class="btn btn-danger" name="8">Cancelar</button>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="eliminarPuesto" tabindex="-1" aria-labelledby="eliminarPuestoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="eliminarPuestoLabel">Esta Seguro que desea eliminar el Puesto:{{puestoActual.nombre}}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button data-bs-dismiss="modal" type="submit" class="btn btn-primary" name="7" (click)="eliminarPuesto(puestoActual)">Aceptar</button>

        <button data-bs-dismiss="modal" class="btn btn-danger" name="8">Cancelar</button>
      </div>
    </div>
  </div>
</div>
