
#Ignorar carpetas del API
Backend\Gymtec_API\bin
Backend\Gymtec_API\.vs
Backend\Gymtec_API\obj

\Backend\Gymtec_MongoAPI\MongoGymtecAPI\bin
\Backend\Gymtec_MongoAPI\MongoGymtecAPI\.vs
\Backend\Gymtec_MongoAPI\MongoGymtecAPI\obj
Backend/Gymtec_API/.vs/

Backend/Gymtec_API/obj/Debug/

Backend/Gymtec_API/bin/

Backend/Gymtec_MongoAPI/MongoGymtecAPI/.vs/MongoGymtecAPI/v16/

Backend/Gymtec_MongoAPI/MongoGymtecAPI/obj/Debug/net5.0/

Backend/Gymtec_MongoAPI/MongoGymtecAPI/bin/Debug/net5.0/ref/

Backend/Gymtec_MongoAPI/MongoGymtecAPI/bin/Debug/net5.0/

FrontEnd/.vs/FrontEnd/v16/

FrontEnd/.vs/


Backend/Gymtec_API/.vs/Gymtec_API/v16/

Backend/Gymtec_API/.vs/Gymtec_API/config/

Backend/Gymtec_API/bin/

Backend/Gymtec_API/obj/Debug/

Backend/Gymtec_API/obj/Release/

.vs/
