<div class="container">
  <h1>Nombre de la Sucursal</h1>

  <button class="btn btn-dark">Generar Planilla</button>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Numero de Cedula</th>
      <th scope="col">Numeo de Clases Impartidas/Horas Laboradas</th>
      <th scope="col">Pago</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Juan</th>
      <td>305230522</td>
      <td>25 clases/ 50H</td>
      <td>₡ 250 000</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <h1>Nombre de la Sucursal</h1>

  <button class="btn btn-dark">Generar Planilla</button>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Numero de Cedula</th>
      <th scope="col">Numeo de Clases Impartidas/Horas Laboradas</th>
      <th scope="col">Pago</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Juan</th>
      <td>305230522</td>
      <td>25 clases/ 50H</td>
      <td>₡ 250 000</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <h1>Nombre de la Sucursal</h1>

  <button class="btn btn-dark">Generar Planilla</button>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Numero de Cedula</th>
      <th scope="col">Numeo de Clases Impartidas/Horas Laboradas</th>
      <th scope="col">Pago</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Juan</th>
      <td>305230522</td>
      <td>25 clases/ 50H</td>
      <td>₡ 250 000</td>
    </tr>
    </tbody>
  </table>
</div>
