<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<html>

<body>
    <div class="container">
        <div class="LoginForm">
            <h2>Crear una clase</h2>
            <form id="form">
                <div class="form-group">
                    
                    <select class="form-select input-group" id="tipo" [(ngModel)]="clase.tipo" name="tipo" required>
                        <!-- <optgroup label=""> -->
                        <option *ngFor="let tipo of tiposClase"> {{tipo.tipo}}</option>
                        <!-- </optgroup> -->
                    </select>
                </div>

                <div class="form-group input-group">
                    <input type="text" name="instructor" class="form-control" [(ngModel)]="clase.instructor"
                        id="instructor" placeholder="Instructor">
                </div>


                <div class="form-group">
                    <select class="form-select input-group" id="grupal" [(ngModel)]="clase.grupal" name="grupal" required>
                        <!-- <optgroup label=""> -->
                        <option value="true"> Grupal</option>
                        <option value="false"> Individual</option>
                        <!-- </optgroup> -->
                    </select>
                </div>
                <!-- <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Individual
                    </label>
                </div> -->

                <div class="form-group input-group">
                    <label for="capacidad">Capacidad</label>
                    <input type="number" min="0" name="capacidad" class="form-control" [(ngModel)]="clase.capacidad"
                        id="capacidad" placeholder="Capacidad">
                </div>

                <div class="form-group input-group">
                    <label for="fecha">Fecha</label>
                    <input type="date" name="fecha" class="form-control" [(ngModel)]="clase.fecha" id="fecha"
                        placeholder="Fecha">
                </div>

                <div class="form-group input-group">
                    <label for="inicio">Hora de inicio</label>
                    <input type="time" name="inicio" class="form-control" [(ngModel)]="clase.inicio" id="inicio"
                        placeholder="Inicio">
                </div>
                <div class="form-group input-group">
                    <label for="final">Hora final</label>
                    <input type="time" name="final" class="form-control" [(ngModel)]="clase.final" id="final"
                        placeholder="Final">
                </div>

                <button type="submit" (click)="this.crearClase()" class="btn btn-primary">Crear</button>
            </form>
        </div>
    </div>


</body>

</html>

<script>

</script>