<button class="btn btn-dark largo" data-bs-toggle="modal" data-bs-target="#crearEmpleado">Agregar un nuevo Empleado</button>
<div class="container row">
  <div class="col margnes" *ngFor="let item of listaEmpleado">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h2 class="card-title">Nombre Completo: {{item.nombre}} {{item.primer_apellido}} {{item.segundo_apellido}}</h2>
        <label class="row letras">Numero de cedula: {{item.cedula}}</label>
        <label class="row letras">Correo Electronico: {{item.email}}</label>
        <label class="row letras">Dirrecion: {{item.provincia}} {{item.canton}} {{item.distrito}}</label>
        <label class="row letras">Puesto: {{item.puesto}}</label>
        <label class="row letras">Planilla: {{item.tipoPlanilla}}</label>
        <label class="row letras">Gimnasio Asignado: {{item.nombreSucursal}}</label>

        <label class="row letras">Salario: {{item.salario}}</label>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary margen"  data-bs-toggle="modal" data-bs-target="#editarEmpleado"
        >Editar</button>
        <button class="btn btn-danger margen"  data-bs-toggle="modal" data-bs-target="#eliminarEmpleado"
        >Eliminar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="crearEmpleado" tabindex="-1" aria-labelledby="crearEmpleadoLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title" id="crearEmpleadoLabel">Nuevo Empleado</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form class="row">

        <div class="tamano3">
          <label>Nombre Completo:</label>
          <input type="text" class="form-control" name="nombre" id="Nombre de empleado" required="">
        </div>

        <div class="tamano3">
          <label>Numero de cedula:</label>
          <input type="text" class="form-control" name="nombre" id="cedula" required="">
        </div>


        <div class="tamano3">
          <label>Correo Electronico:</label>
          <input type="email" class="form-control" name="nombre" id="correoEmpleado" required="">
        </div>


        <div class="tamano3">
          <label>Password:</label>
          <input type="password" class="form-control" name="nombre" id="passwordEmpleadp" required="">
        </div>

        <div class="row">
          <label>Dirrecion del Empleado:</label>
          <div class="col">
            <label>Provincia:</label>
            <input type="text" class="form-control" name="pronvincia" id="pronvincia" required="">
          </div>
          <div class="col">
            <label>Canton:</label>
            <input type="text" class="form-control" name="canton" id="canton" required="">
          </div>
          <div class="col">
            <label>Distrito:</label>
            <input type="text" class="form-control" name="distrito" id="distrito" required="">
          </div>
        </div>

        <div>
          <label>Puesto:</label>
          <select class="form-select" id="puesto" name="6" required="">
            <optgroup label="">
              <option> </option>
            </optgroup>
          </select>
        </div>

        <div class="tamano3">
          <label>Sucursal:</label>
          <select class="form-select" id="sucursal" name="6" required="">
            <optgroup label="">
              <option> </option>
            </optgroup>
          </select>
        </div>

        <div class="row">
          <div class="col">
            <label>Tipo de planilla:</label>
            <select class="form-select" id="planilla" name="6" required="">
              <optgroup label="">
                <option> </option>
              </optgroup>
            </select>
          </div>

          <div class="col">
            <label>Salario:</label>
            <input type="number" class="form-control" name="distrito" id="salario" required="">
          </div>

          <div class="modal-footer">

            <button type="submit" class="btn btn-primary" name="7">Aceptar</button>

            <button class="btn btn-danger" name="7"  data-bs-dismiss="modal">Cancelar</button>

          </div>
        </div>

      </form>
    </div>
  </div>
</div>
</div>


<div class="modal fade" id="editarEmpleado" tabindex="-1" aria-labelledby="EditarSucursalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="EditarSucursalLabel">Editar Empleado</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row">

          <div class="tamano3">
            <label>Correo Electronico:</label>
            <input type="email" class="form-control" name="nombre" id="EditarimagenSucursal" required="">
          </div>

          <div class="tamano3">
            <label>Password:</label>
            <input type="password" class="form-control" name="nombre" id="EditarpasswordEmpleado" required="">
          </div>


          <div class="row">
            <label>Dirrecion del Empleado:</label>
            <div class="col">
              <label>Provincia:</label>
              <input type="text" class="form-control" name="pronvincia" id="Editarpronvincia" required="">
            </div>
            <div class="col">
              <label>Canton:</label>
              <input type="text" class="form-control" name="canton" id="Editarcanton" required="">
            </div>
            <div class="col">
              <label>Distrito:</label>
              <input type="text" class="form-control" name="distrito" id="Editardistrito" required="">
            </div>
          </div>

          <div>
            <label>Puesto:</label>
            <select class="form-select" id="Editarpuesto" name="6" required="">
              <optgroup label="">
                <option> </option>
              </optgroup>
            </select>
          </div>

          <div class="tamano3">
            <label>Sucursal:</label>
            <select class="form-select" id="editarsucursal" name="6" required="">
              <optgroup label="">
                <option> </option>
              </optgroup>
            </select>
          </div>

          <div class="row">
            <div class="col">
              <label>Tipo de planilla:</label>
              <select class="form-select" id="editarlanilla" name="6" required="">
                <optgroup label="">
                  <option> </option>
                </optgroup>
              </select>
            </div>

            <div class="col">
              <label>Salario:</label>
              <input type="number" class="form-control" name="distrito" id="Editarsalario" required="">
            </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" name="7">Aceptar</button>

            <button class="btn btn-danger" name="7"  data-bs-dismiss="modal">Cancelar</button>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="CopiarSucursal" tabindex="-1" aria-labelledby="CopiarSucursalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="CopiarSucursalLabel">Copiar Sucursal</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row">

        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="eliminarEmpleado" tabindex="-1" aria-labelledby="eliminarPuestoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="eliminarPuestoLabel">Esta Seguro que desea eliminar el Empleado: Numero de cedula, Nombre:</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" name="7">Aceptar</button>

        <button data-bs-dismiss="modal" class="btn btn-danger" name="8">Cancelar</button>
      </div>
    </div>
  </div>
</div>
