<button class="btn btn-dark largo" data-bs-toggle="modal" data-bs-target="#crearEmpleado">Agregar un nuevo Empleado</button>
<div class="container row">
  <div class="col margnes" *ngFor="let item of listaEmpleado">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h2 class="card-title">Nombre Completo: {{item.nombre}} {{item.primer_apellido}} {{item.segundo_apellido}}</h2>
        <label class="row letras">Numero de cedula: {{item.cedula}}</label>
        <label class="row letras">Correo Electronico: {{item.email}}</label>
        <label class="row letras">Dirrecion: {{item.provincia}} {{item.canton}} {{item.distrito}}</label>
        <label class="row letras">Puesto: {{item.puesto}}</label>
        <label class="row letras">Planilla: {{item.tipoPlanilla}}</label>
        <label class="row letras">Gimnasio Asignado: {{item.nombreSucursal}}</label>

        <label class="row letras">Salario: {{item.salario}}</label>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary margen"  data-bs-toggle="modal" data-bs-target="#editarEmpleado"
        (click)="obtenerEmpleado(item.cedula)">Editar</button>
        <button class="btn btn-danger margen"  data-bs-toggle="modal" data-bs-target="#eliminarEmpleado"
                (click)="obtenerEmpleado(item.cedula)">Despedir</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="crearEmpleado" tabindex="-1" aria-labelledby="crearEmpleadoLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title" id="crearEmpleadoLabel">Nuevo Empleado</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form class="row">
        <div class="tamano3">
          <label>Cedula:</label>
          <input type="number" class="form-control" name="nombre" id="EcedulaEmpleado" required="" #cedula="ngModel"
                 [(ngModel)]="empleado.cedula">
        </div>

        <div class="tamano3">
          <label>Nombre:</label>
          <input type="text" class="form-control" name="nombre" id="ENombredeempleado" required="" #nombre="ngModel"
                 [(ngModel)]="empleado.nombre">
        </div>

        <div class="tamano3">
          <label>Primer Apellido:</label>
          <input type="text" class="form-control" name="nombre" id="EApellido1deempleado" required=""
                 #primerApellidp="ngModel"  [(ngModel)]="empleado.primer_apellido">
        </div>

        <div class="tamano3">
          <label>Segundo Apellido:</label>
          <input type="text" class="form-control" name="nombre" id="EApellido2deempleado" required=""
                 #segundoApellido="ngModel" [(ngModel)]="empleado.segundo_apellido">
        </div>

        <div class="tamano3">
          <label>Correo Electronico:</label>
          <input type="email" class="form-control" name="correo" id="EcorreoEmpleado" required=""
                 #correo="ngModel" [(ngModel)]="empleado.email">
        </div>


        <div class="tamano3">
          <label>Password:</label>
          <input type="password" class="form-control" name="contrasena" id="EpasswordEmpleadp" required=""
                 #contrasena="ngModel" [(ngModel)]="empleado.contrasena">
        </div>

        <div class="row">
          <label>Dirrecion del Empleado:</label>
          <div class="col">
            <label>Provincia:</label>
            <input type="text" class="form-control" name="pronvincia" id="Epronvincia" required=""
                   #provinvia="ngModel" [(ngModel)]="empleado.provincia">
          </div>
          <div class="col">
            <label>Canton:</label>
            <input type="text" class="form-control" name="canton" id="Ecanton" required=""
                   #canton="ngModel" [(ngModel)]="empleado.canton">
          </div>
          <div class="col">
            <label>Distrito:</label>
            <input type="text" class="form-control" name="distrito" id="Edistrito" required=""
                   #distrito="ngModel" [(ngModel)]="empleado.distrito">
          </div>
        </div>

        <div class="form-group">
          <label>Puesto:</label>
          <select class="form-select input-group" id="puesto" [(ngModel)]='empleado.idPuesto' name="puesto" required
                  [ngModelOptions]="{standalone: true}">
            <option *ngFor="let puesto of listaPuesto" value="{{puesto.id}}"> {{puesto.nombre}}</option>
          </select>
        </div>

        <div class="form-group">
          <label>Sucursal:</label>
          <select class="form-select input-group" id="sucursal" [(ngModel)]='empleado.idSucursal' name="sucursal" required
                  [ngModelOptions]="{standalone: true}">
            <option *ngFor="let sucursalSele of listaSucursal" value="{{sucursalSele.id}}"> {{sucursalSele.nombre}}</option>
          </select>
        </div>

        <div class="form-group">
          <label>Planilla:</label>
          <select class="form-select input-group" id="planilla" [(ngModel)]='empleado.idPlanilla' name="planilla" required
                  [ngModelOptions]="{standalone: true}">
            <option *ngFor="let planilla of listaPlanillas" value="{{planilla.id}}"> {{planilla.Tipo}}</option>
          </select>
        </div>

        <div class="col">
          <label>Salario:</label>
          <input type="number" class="form-control" name="salario" id="salario" required="" #salario="ngModel"
                 [(ngModel)]="empleado.salario">
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" name="7" data-bs-dismiss="modal"
                  (click)="crearEmpleado(empleado)">Aceptar</button>

          <button class="btn btn-danger" name="7"  data-bs-dismiss="modal">Cancelar</button>
        </div>


      </form>
    </div>
  </div>
</div>
</div>


<div class="modal fade" id="editarEmpleado" tabindex="-1" aria-labelledby="EditarSucursalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="EditarSucursalLabel">Editar Empleado</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row">

          <div class="tamano3">
            <label>Correo Electronico:</label>
            <input type="email" class="form-control" name="correo" id="correoEmpleado" required=""
                   #correo="ngModel" [(ngModel)]="empleadoActual.email">
          </div>


          <div class="tamano3">
            <label>Password:</label>
            <input type="password" class="form-control" name="contrasena" id="passwordEmpleadp" required=""
                   #contrasena="ngModel" [(ngModel)]="empleadoActual.contrasena">
          </div>

          <div class="row">
            <label>Dirrecion del Empleado:</label>
            <div class="col">
              <label>Provincia:</label>
              <input type="text" class="form-control" name="pronvincia" id="pronvincia" required=""
                     #provinvia="ngModel" [(ngModel)]="empleadoActual.provincia">
            </div>
            <div class="col">
              <label>Canton:</label>
              <input type="text" class="form-control" name="canton" id="canton" required=""
                     #canton="ngModel" [(ngModel)]="empleadoActual.canton">
            </div>
            <div class="col">
              <label>Distrito:</label>
              <input type="text" class="form-control" name="distrito" id="distrito" required=""
                     #distrito="ngModel" [(ngModel)]="empleadoActual.distrito">
            </div>
          </div>

          <div class="form-group">
            <label>Puesto:</label>
            <select class="form-select input-group" id="Epuesto" [(ngModel)]='empleadoActual.idPuesto' name="puesto" required
                    [ngModelOptions]="{standalone: true}">
              <option *ngFor="let puesto of listaPuesto" value="{{puesto.id}}"> {{puesto.nombre}}</option>
            </select>
          </div>

          <div class="form-group">
            <label>Sucursal:</label>
            <select class="form-select input-group" id="Esucursal" [(ngModel)]='empleadoActual.idSucursal' name="sucursal" required
                    [ngModelOptions]="{standalone: true}">
              <option *ngFor="let sucursalSele of listaSucursal" value="{{sucursalSele.id}}"> {{sucursalSele.nombre}}</option>
            </select>
          </div>

          <div class="form-group">
            <label>Planilla:</label>
            <select class="form-select input-group" id="Eplanilla" [(ngModel)]='empleadoActual.idPlanilla' name="planilla" required
                    [ngModelOptions]="{standalone: true}">
              <option *ngFor="let planilla of listaPlanillas" value="{{planilla.id}}"> {{planilla.Tipo}}</option>
            </select>
          </div>

          <div class="col">
            <label>Salario:</label>
            <input type="number" class="form-control" name="salario" id="Esalario" required="" #salario="ngModel"
                   [(ngModel)]="empleadoActual.salario">
          </div>

          <div class="modal-footer">

            <button type="submit" class="btn btn-primary" name="7" data-bs-dismiss="modal"
                    (click)="editarEmpleado(empleadoActual)">Aceptar</button>

            <button class="btn btn-danger" name="7"  data-bs-dismiss="modal">Cancelar</button>

          </div>

        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="CopiarSucursal" tabindex="-1" aria-labelledby="CopiarSucursalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="CopiarSucursalLabel">Copiar Sucursal</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row">

        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="eliminarEmpleado" tabindex="-1" aria-labelledby="eliminarPuestoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="eliminarPuestoLabel">Esta Seguro que desea despedir al Empleado: {{empleadoActual.cedula}}
          , {{empleadoActual.nombre}}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" name="7" data-bs-dismiss="modal" (click)="eliminarEmpleado(empleadoActual)">Aceptar</button>

        <button data-bs-dismiss="modal" class="btn btn-danger" name="8">Cancelar</button>
      </div>
    </div>
  </div>
</div>
