<div class="aux">
  <div class="container">
      <div class="row">
        <div class="col columna1">
          <img src="https://media.discordapp.net/attachments/824372507015643159/847678323861487616/Asset_54x-8.png?width=457&height=676">
        </div>
        <div class="col">
          <form>
            <h2>Login: GymTEC</h2>
            <div class="entradas">
              <div class="row">
                <input type="email" name="email" class="email_From" id="InputEmail1" placeholder="Correo Electronico"
                       aria-label="CorreoElectronico" required="">
              </div>
              <div class="row">
                <input type="password" name="password" class="pasword_Emanil" id="InputPassword" placeholder="Contraseña"
                       aria-label="contraseña" required="">
            </div>
            </div>
            <div class="row" class="button">
              <button type="submit" class="btn" (click)="navegation()">Entrar</button>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
