<button class="btn btn-dark largo" data-bs-toggle="modal" data-bs-target="#agregarServicio">Agregar un nuevo servicio</button>


<div class="container"*ngFor="let item of listaServicio">
  <div class="row" >
    <div class="col col1" >
      <img src="{{item.imagen}}" alt="">
    </div>
    <div class="col col2">
      <div class="row"><h3><b>Indentificador: {{item.id}}</b></h3></div>
      <div class="row"><label>Nombre: {{item.nombre}}</label></div>
      <div class="row"><label>Descripcion: {{item.descripicion}}</label></div>
      <div class="row"><label>ID Sucursal: {{item.idSucursal}}</label></div>
      <div class="row btn2">
        <div class="col"><button class="btn btn-primary btn1" data-bs-toggle="modal" data-bs-target="#editarServicio"
        (click)="obtenerInformacionItem(item)">Editar Servicio </button></div>
        <div class="col"><button class="btn btn-danger btn2"  data-bs-toggle="modal" data-bs-target="#eliminarServicio"
        (click)="obtenerInformacionItem(item)">Eliminar Serivicio</button></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="agregarServicio" tabindex="-1" aria-labelledby="agregarServicioLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="agregarServicioLabel">Agregar Serivicio</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="tamano3">
          <label>Imagen Del Servicio:</label>
          <input type="text" class="form-control" name="nombre" id="imageServicio" required=""
                 #imagen="ngModel" [(ngModel)]="servicio.imagen">
        </div>

        <div class="tamano3">
          <label>Identificador:</label>
          <input type="text" class="form-control" name="nombre" id="nombreServicio" required=""
                 #identificador="ngModel" [(ngModel)]="servicio.id">
        </div>

        <div class="tamano3">
          <label>Descripcion:</label>
          <input type="text" class="form-control" name="nombre" id="descripcionSerivicio" required=""
                 #descripcion="ngModel" [(ngModel)]="servicio.descripicion">
        </div>

        <div class="tamano3">
          <label>ID Sucursal:</label>
          <input type="number" class="form-control" name="id" id="IdServiso" required=""
                 #idSucursal="ngModel" [(ngModel)]="servicio.idSucursal">
        </div>


      </div>
      <div class="modal-footer">
        <button data-bs-dismiss="modal" type="submit" class="btn btn-primary" name="7"
                (click)="creaServicio(servicio)">Aceptar</button>

        <button data-bs-dismiss="modal" class="btn btn-danger" name="8">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editarServicio" tabindex="-1" aria-labelledby="editarSerivioLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="editarPuestoLabel">Editar Servicio</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="tamano3">
          <label>Imagen Del Puesto:</label>
          <input type="text" class="form-control" name="nombre" id="imagenServicio" required=""
                 #imagen="ngModel" [(ngModel)]="servicioActual.imagen">
        </div>

        <div class="tamano3">
          <label>Descripcion:</label>
          <input type="text" class="form-control" name="nombre" id="descripcionServicio" required=""
                 #descripacion="ngModel" [(ngModel)]="servicioActual.descripicion">
        </div>


      </div>
      <div class="modal-footer">
        <button data-bs-dismiss="modal" type="submit" class="btn btn-primary" name="7" (click)="editarServicio(servicioActual)"
                >Aceptar</button>

        <button data-bs-dismiss="modal" class="btn btn-danger" name="8">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="eliminarServicio" tabindex="-1" aria-labelledby="eliminarPuestoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="eliminarPuestoLabel">Esta Seguro que desea eliminar el Servicio: {{servicioActual.id}}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button data-bs-dismiss="modal" type="submit" class="btn btn-primary"  (click)="eliminarServicio(servicioActual)"
                >Aceptar</button>

        <button data-bs-dismiss="modal" class="btn btn-danger" name="8">Cancelar</button>
      </div>
    </div>
  </div>
</div>
