<button class="btn btn-dark largo">Generar un nuevo tipo de equipo</button>
<div class="container row">
  <div class="col margnes">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h2 class="card-title">Numero de Identificador</h2>
        <label class="row letras">Descripcion</label>
        <label class="row letras">Tipo</label>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary margen">Editar</button>
        <button class="btn btn-danger margen">Eliminar</button>
      </div>
    </div>
  </div>
</div>

