img {
  height: 60px;
  width: 40px;
}
nav{
  background: linear-gradient(65deg, #000000, #641303);
  color: white;
}

.backG{
  height: 100vh;
  background: linear-gradient(65deg, #909090, #f6f1e8);
}
