img {
  height: 60px;
  width: 40px;
}

nav{
  background: linear-gradient(65deg, #000000, #641303);
  color: white;
}

.dropdown-menu{
  background: linear-gradient(65deg, #000000, #641303);
}

.dropdown-menu:hover{
  background: linear-gradient(65deg, #000000, #641303);
}

.dropdown-item{
  color: white;
}

.dropdown-item:hover{
  color: white;
}

a:hover{
  color: white;
  background: linear-gradient(65deg, #991C06, #E52200);
}

.btn{
  color: white;
}

.btnSalir{
  position: absolute;
  right: 10px;
}
