<div class="backG">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

      <img src="https://media.discordapp.net/attachments/824372507015643159/847678323861487616/Asset_54x-8.png?width=457&height=676">
      <a class="navbar-brand">Tipo de Administrador</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" (click)="navigate('GestionSucursales')">Gestion Sucursales</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active">Gestion de Spa</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active">Gestion de servicios</a>
          </li>



          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Planilla
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <li><a class="dropdown-item" >Gestión de puestos</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" >Gestión de tipos de planilla</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" >Gestión de empleados</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" >Generación de planilla</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Inventario
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
              <li><a class="dropdown-item" >Gestión de Tipos Equipo</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" >Gestión de inventario</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" > Gestión de productos</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Configuracion del Gimnasio
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <li><a class="dropdown-item" >Asociación de tratamientos al Spa del gimnasio</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" >Asociación de productos a la tienda del gimnasio</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" > Asociación de inventario</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" >Crear clases</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</div>
<app-root></app-root>
