<div class="contenedorPantalla">

    <div class="container">
        <div class="row" *ngFor="let asociacion of superLista">

            <div class="col columna1">
                <img src={{asociacion.sucursal.imagen}}>
            </div>
            <div class="col columna2">
                <div class="row">
                    <h2>Nombre de la sucursal: {{asociacion.sucursal.nombre}}</h2>
                </div>
                <div class="row"><label>Dirección: {{asociacion.sucursal.provincia}}, {{asociacion.sucursal.canton}},
                        {{asociacion.sucursal.distrito}}</label></div>

            </div>
            <div class="col-4">

                <h2>Equipos asociados</h2>
                <div class="list-group" *ngFor="let equipo of asociacion.equipos">
                    <a class="list-group-item list-group-item-action active">
                        <button href="#" type="button" class="btn" data-bs-toggle="modal"
                        (click)="borrarInventario(equipo, asociacion.sucursal)"    
                        data-bs-target="#DesacocieModal">
                            #{{equipo.nSerie}}: {{equipo.descripcion}} 
                        </button>
                    </a>

                </div>

            </div>
            <div class="col-4">

                <h2>Tratamientos disponibles</h2>
                <div class="list-group">
                    <a class="list-group-item list-group-item-action active"
                        *ngFor="let equiposNo of asociacion.equiposNo">
                        <button type="button" class="btn" data-bs-toggle="modal"
                            (click)="agregarInventario(equiposNo, asociacion.sucursal)"
                            data-bs-target="#AsocieModal">
                            #{{equiposNo.nSerie}}: {{equiposNo.descripcion}} 
                        </button>
                    </a>
                </div>
            </div>
        </div>

    </div>

     <!-- Modal -->
     <div class="modal fade" id="DesacocieModal" tabindex="-1" aria-labelledby="eliminarFilaLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="eliminarFilaLabel">Desasociar un Equipo</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Se eliminará el equipo: #{{this.inventariooModal.nSerie}} de la sucursal
                        {{this.sucursalModal.nombre}} ¿Deseas continuar?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="DesacocieInventario()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="AsocieModal" tabindex="-1" aria-labelledby="eliminarFilaLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="eliminarFilaLabel">Asociar un Equipo</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Se agregará el equipo: #{{this.inventariooModal.nSerie}} de la sucursal
                        {{this.sucursalModal.nombre}} ¿Deseas continuar?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="asociarInventario()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>